# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.ipynb_checkpoints

# Environment
.env
.envrc
.env.local

# IDE
.vscode/
.idea/

# Local Data
grid_data/data/processed/
grid_data/data/forecasts/
grid_data/data/raw/
!grid_data/data/raw/sample_data/

# DBT
grid_data/dbt_project/target/
grid_data/dbt_project/dbt_packages/
grid_data/dbt_project/logs/

# DuckDB
*.db
*.db.wal

# OS
.DS_Store
Thumbs.db

# Build files
*.egg
